extends base.pug
block content
  div(class="container")
    span
      | Username:
    span
      input(type="text" name="username" class="is-focused mb-4 mt-4 mx-4")
    br
    span
      | Password:  
    span
      input(type="password" name="password" class="is-focused mb-4 mx-4")
    button(class="submit-button")
      |submit
    p(class="error-message has-text-danger")

  script
    include authenticate.js