html
  head
    link(rel="stylesheet" href=`/bulma.css`)
    script
      include utilities.js
  body(class="has-background-grey-light")
    include navbar.pug
    div(class='has-background-primary')
      block content